* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f8fafc;
    color: #0f172a;
}

/*NAV BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: #0f172a;
    font-weight: 500;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #2563eb, #38bdf8);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero img {
    width: 150px;
    border: 4px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    border-radius: 50%;
    margin-bottom: 20px;
}

/* SECTIONS */
.section {
    padding: 80px 20px;
    max-width: 900px;
    margin: auto;
}

.section:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
}


.section h2 {
    margin-bottom: 20px;
    color: #0d6efd;
}

/* SKILLS */
.skills {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skills li {
    background: linear-gradient(135deg, #2563eb, #38bdf8);
    color: white;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    list-style: none;
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* CONTACT */
#contact p {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .hero h1 {
        font-size: 24px;
    }
}
